h1{
	border: groove 7.5px;
	border-color: #33FFFF;
	margin: 100px;
	padding: auto;
	width: auto;
	height: auto;
}

h2{
	border-style: groove;
	border-color: orange;
	margin:
	padding:
	width:
	height:
}

body{
}
