body{
	background-color: #F5F5F5;
}
h1{
	font-family: Comic Sans MS;
	background-color: #AEAEAE;
	border-style: dotted dashed solid double;
	color: #003AAD;
}
h2{
	font-family: Comic Sans MS;
	background-color: #C9C9C9;
	border-style: outset;
	color: #74A2FF;
}
p{
	font-family: Comic Sans MS;
	background-color: #E4E4E4;
	border-style: double;
	color: #ADC8FF;
}
footer{
	font-family: Impact;
	color: black;
}
