header{
	font-family: Impact;
	background-color: red;
	color: blue;
	font-style: italic;
	border-bottom-style: dashed;
	border-width: 10px;
	border-bottom-color: yellow;
	padding-bottom: 20px;
}
h1{ 
	font-family: Impact;
	font-style: oblique;
	background-color: green;
	color: yellow;
	border-bottom-style: dashed;
}
main{
	border: 10px orange;
	border-style: groove;
	border-top-style: hidden;
	border-bottom-style: hidden;
}
h2{
	background-color: purple;
	color: yellow;
	border-right-style: solid;
	border-width: 20px;
}
h3{
	background-color: yellow;
	color: purple;
	border-top-style: dashed;
}
p{
	font-family: Arial;
	color: blue;
}
footer{
	padding-top: 15px;
	border-top: 1.5px dotted black;
	border-left-style: solid;
	border-left-color: red;
	border-left-width: 10px;
	border-right-style: solid;
	border-right-color: blue;
	border-right-width: 10px;
	color: blue;
}
