header{
	margin-right: 750px;
	background-color:red;
	border-right: solid 100px;
	border-color: yellow;
}
h1{
	margin-left: 25px;
	margin-right: 50px;
	border: solid 1px;
	border-color: yellow;
}
header > p {
	font-weight: bold;
	padding: 50px;
	color: white;
}
nav{
	margin-left: 250px;
	border: solid 1px;
}
main{
	padding-left: 250px;
	background-color: gray;
}
main > article{
	background-color: white;
}
main > p {
	background-color: black;
	color: white;
}
thead{
	background-color: yellow;
	border-bottom: solid;
	border-bottom-color: green;
}
th{
	background-color: yellow;
	border-bottom: solid;
	border-bottom-color: green;
}
td{
	background-color: white;
}
tfoot > tr > th{
	background-color: red;
}
footer{
	border: dashed 10px;
	border-color: blue;
	color: white;
}
footer > p{
	font-weight: bold;
	background-color:blue;
}
