@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
*{
	font-family: 'Varela Round', sans-serif;
}

body{
	background-color: #4F608F;
	outline: #FFE4AA outset 1px;
}

h1{
	text-align: center;
	color: #D4B26A;
	background-color: #061439;
	border-style: inset;
}

nav{
	float: left;
	background-color: none;
	outline: #FFE4AA outset 1px;
	color: #FFD2AA;
}

footer{
	font-family: 'Poiret One', cursive;
	color: #FFE4AA;
	clear: both;
}

article{
	outline: #FFE4AA outset 1px;
	float: right;
}

p{
	outline: #FFE4AA outset 1px;
	clear: both;
}

img{
	outline: #FFE4AA outset 1px;
	float: right;
}
